schedule
demucs
pymsgbox
dotenv
ffmpeg
shazamio
pydub
eyed3 
matplotlib
psycopg2-binary
fastapi
uvicorn
pydantic
python-multipart
torch>=1.9.0
torchaudio>=0.9.0
numpy
sqlalchemy
fastapi
requests
msal